$white-soft: #f8f8f8;
$white-mute: #f2f2f2;
$white-mute2: #e7e4e4;
$black-soft: #222222;
$black-mute: #282828;
$text-light-1: #2c3e50;
$text-light-2: rgba(60, 60, 60, 0.66);
$text-dark-1: var(--vt-c-white);
$text-dark-2: #ffffff;

$brand-blue: #5EBEC4;
$brand-blue2: #A0AECD;


$tablet: 954px;
$mobile1: 545px;
$mobile2: 410px;